/* Variables */
$background-primary-color : #F6F6F6 ;
$background-secondary-color : #EAEAEA ;
$orange-color : #FCA311 ;
$primary-color : #9356DC ;
$secondary-color: #FF79DA;
$tertiary-color : #99E2D0 ;
$green-font : #008766 ;
$white : #FFFFFF ;
$font-primary : #101010 ;
$font-secondary : #353535 ;
$button-gradient : linear-gradient(#FF79DA, #9356DC) ;
$font-primary : 'Roboto', sans-serif;
$duration: 1.5s; /* Durée totale de la barre de progression */
$duration-delay: 0.5s; /* Délai avant le début de la barre */
$content-delay: $duration + ($duration-delay * 2); /* Calcul du délai pour afficher le contenu */

/* Mixin */

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 14px 0px 0px 0px;
    background-color: $white;
    font-family: $font-primary;
  }

.button{
  background: $button-gradient;
  color: $white;
  border-radius: 25px;
  padding: 13px 19px;
  margin-top: 27px;
  width: fit-content;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    cursor: pointer;
  }
}

.photo{
  width: 100%;
  height: calc(251px * 0.66);
  box-sizing: border-box;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__loc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $background-secondary-color;
        gap: 17px;
        padding: 17px 15px;
        width: 100vw; 
        margin-top: 13px;
        color: $font-secondary;
        border: 1px solid $background-secondary-color;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

/* hero */

.hero{
  padding: 40px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 27px;
  background-color: $background-primary-color;
  width: 100%;
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* section Fonctionnement*/
.Fonctionnement{
  margin: 50px 20px 68px 20px;
      &__Card{
        display: flex;
        gap: 27px;
        border: 1px solid $background-primary-color;
        background-color: $background-primary-color;
        border-radius: 20px;
        padding: 25px 38px 25px 34px;
        margin-top: 25px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
        position: relative;
        &:hover{
              cursor: pointer;
          }
        }
      ol {
        list-style: none;
      }  
      ol li {
          counter-increment: list-counter; /* Incrémente le compteur */
          position: relative;
        }
        ol li::before {
          content: counter(list-counter); /* Affiche le numéro */
          position: absolute;
          left: -15px; /*pour le chevauchement*/
          top: calc(50% - 15px); /*centre l'èlément*/
          z-index: 1; /*pour que le numéro soit devant*/
          width: 30px;
          height: 30px;
          background-color: $primary-color;
          color: white; 
          font-weight: bold;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%; 
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
}

/* section Restaurants */
.Restaurants{
  background-color: $background-primary-color;
  margin-top: 68px;
  padding: 54px 20px 68px 20px;
  &__button-new{
    Color: $green-font;
    border: 1px solid $tertiary-color;
    padding: 7px 10px;
    width: fit-content;
    background-color: $tertiary-color;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
  }
  &__Card{
    border-radius: 15px;
    height: 251px;
    background-color:$white;
    margin-top: 18px;
    &__Image{
      position: relative;
    }
    &__Legend{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 16px 25px 12px 16px;
    }
    &:hover{
      cursor: pointer;
    }
  }
}

/* footer */

.footer{
  background-color: $font-secondary;
  color: $white;
  gap: 7px;
  padding: 22px 25px;
  &__list{
    list-style: none;
  }
  &__logo{
    background-color: $font-secondary;    
  }
  &__listwithicon{
    display: flex;
    gap: 11px;
  }
}

/*********** Animations et Transitions ***********/

/*Boutons survols*/
.button-animation{
  position: relative;
  z-index: 0;
  transition: box-shadow 300ms;
  overflow: hidden;
  &:hover{
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    &::after{
      opacity:1;
    }
  }
  &::after{
    content: "";
    position: absolute;
    opacity: 0;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 1;
    transition: opacity 300ms;
    border-radius: inherit;
  }
}

/* Bouton Like */

.like-button {
  position: relative;
  width: 22px; 
  height: 21px;

  .like-img-default,
  .like-img-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
  }

  .like-img-default {
    opacity: 1;
  }

  .like-img-hover {
    opacity: 0;
  }

  &:hover {
    .like-img-default {
      opacity: 0;
    }
    .like-img-hover {
      opacity: 1;
    }
  }
}


/*Loader*/

.loader {
  position: fixed;
  inset: 0; /* pour couvrir toute la page */
  background-color: $background-primary-color; 
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: hideLoader 0s $content-delay ease forwards; 

  .loader__logo{
      width: 250px; 
  }

  .progress-bar {
      width: 300px;
      height: 16px;
      background: $button-gradient; 
      border-radius: 15px;
      overflow: hidden;
      transform-origin: left; 
      transform: scaleX(0); 
      animation: progress-bar $duration $duration-delay both; 
  }
}

.content {
  opacity: 0; /* Pour masquer le contenu au début */
  animation: content 0s $content-delay both; /* Animation pour afficher le contenu après le délai */
}

@keyframes content {
  0% {
      transform: translateX(-9999px);
      opacity: 0;
  }
  100% {
      transform: translateX(0); 
      opacity: 1; 
  }
}

@keyframes progress-bar {
  0% {
      transform: scaleX(0); 
  }
  17% {
      transform: scaleX(0.18); 
  }
  24% {
      transform: scaleX(0.40); 
      animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
      transform: scaleX(0.81); 
      animation-timing-function: cubic-bezier(0.25, 0.25, 1);
  }
  100% {
      transform: scaleX(1); 
  }
}

@keyframes hideLoader {
  to {
      opacity: 0; 
      visibility: hidden; 
  }
}